{% extends 'parent/partials/base.html' %}
{% load static %}
{% block content %}

<div class="ms-content-wrapper">
    <div class="row">

      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb pl-0">
            <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Student</li>
            <li class="breadcrumb-item active" aria-current="page">Student Add</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="ms-panel">
        <div class="ms-panel-header">
          <h6>Student Add</h6>
        </div>
        <div class="ms-panel-body">
          <form>

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="name">Selected Course</label>
                  <input type="Text" class="form-control" id="exampleEmail" placeholder="Date Of Birth">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">First Name</label>
                  <input type="text" class="form-control" id="exampleEmail" placeholder="First name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">Last Name</label>
                  <input type="text" class="form-control" id="exampleEmail" placeholder="Last name">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">Date Of Birth</label>
                  <input type="date" class="form-control" id="exampleEmail" placeholder="Date Of Birth">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">Mobile Number</label>
                  <input type="text" class="form-control" id="exampleEmail" placeholder="Mobile Number">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="exampleEmail">Email address</label>
                  <input type="email" class="form-control" id="exampleEmail" placeholder="name@example.com">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="exampleSelect">Gender</label>
                  <select class="form-control" id="exampleSelect">
                    <option value="male">Male</option>
                    <option value="female">Female</option>

                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">Upload Documents</label>
                  <input type="file" class="form-control" id="exampleEmail" placeholder="Upload Docuements">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">Parent Number</label>
                  <input type="text" class="form-control" id="exampleEmail" placeholder="Parents Number">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">Blood Group</label>
                  <input type="text" class="form-control" id="exampleEmail" placeholder="Last name">
                </div>
              </div>

              <!-------------------- address -------------------->

              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">Street Name</label>
                  <input type="text" class="form-control" id="exampleEmail" placeholder="Street Name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">Post</label>
                  <input type="text" class="form-control" id="exampleEmail" placeholder="First name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">District</label>
                  <input type="text" class="form-control" id="exampleEmail" placeholder="First name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">State</label>
                  <input type="text" class="form-control" id="exampleEmail" placeholder="First name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">Country</label>
                  <input type="text" class="form-control" id="exampleEmail" placeholder="First name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">Pin</label>
                  <input type="text" class="form-control" id="exampleEmail" placeholder="First name">
                </div>
              </div>

              <!---------------------- end Address  ----------------------------->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="examplePassword">Password</label>
                  <input type="password" class="form-control" id="examplePassword" placeholder="Password">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="examplePassword">Confirm Password</label>
                  <input type="password" class="form-control" id="examplePassword" placeholder="Confirm Password">
                </div>
              </div>


            </div>
          </form>
        </div>
        <center><button type="button" class="btn btn-warning mb-5">Submit</button>
          <button type="button" class="btn btn-outline-warning mb-5 ml-3">Cancel</button>
        </center>
      </div>

    </div>



  </div>


  {% endblock %}