{% extends 'student/partials/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'teacher/css/jquery.dataTables.min.css' %} ">


<div class="container-fluid page__heading-container">
    <div class="page__heading d-flex align-items-center justify-content-between">
        <h1 class="m-0">Reference</h1>
    </div>
</div>




<div class="container-fluid page__container">
    <div class="row">
        <div class="col-lg">
            <div class="card">
                <div class="card-header card-header-large bg-white d-flex align-items-center">
                    <h4 class="card-header__title flex m-0">Reference Activity</h4>
                   
                </div>
                <div class="card-header card-header-tabs-basic nav" role="tablist">
                    <a href="#activity_all" class="active" data-toggle="tab" role="tab" aria-controls="activity_all" aria-selected="true">All</a>
                    <a href="#activity_purchases" data-toggle="tab" role="tab" aria-selected="false">Pdf</a>
                    <a href="#activity_emails" data-toggle="tab" role="tab" aria-selected="false">Notes</a>
                    <a href="#activity_quotes" data-toggle="tab" role="tab" aria-selected="false">Previous Year Question Paper</a>
                </div>
                <div class="card-body tab-content">
                    <div class="tab-pane active show fade" id="activity_all">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ab aliquam labore, rem laboriosam soluta quam minima asperiores suscipit! Sint doloribus laboriosam tempora, modi voluptatem pariatur numquam unde!

                    </div>
                    <div class="tab-pane fade" id="activity_purchases">
                        Quam ducimus culpa eveniet adipisci officiis ab, quas sint aliquid eius tempore natus magnam similique placeat, perferendis explicabo eum qui quod facilis quae enim harum. Nihil dolores enim, dicta modi expedita architecto distinctio!
                    </div>
                    <div class="tab-pane fade" id="activity_emails">
                        Ducimus aperiam aut corporis, facere nobis id quos dignissimos, ut corrupti asperiores reprehenderit culpa praesentium exercitationem, officia commodi.
                    </div>
                    <div class="tab-pane fade" id="activity_quotes">
                        <div class="card height-auto">
                            <div class="card-body">
                                <div class="heading-layout1">
                                    <div class="item-title my-3">
                                        <h3 class="mb-4">All Question Papers</h3>
                                    </div>
                                  
                                </div>
                                <form class="mg-b-20  my-3">
                                    <div class="row gutters-8 ">
                                        <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                            <input type="text" placeholder="Search by ID ..." class="form-control">
                                        </div>
                                        <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                                            <input type="text" placeholder="Search by Name ..." class="form-control">
                                        </div>
                                        <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                            <input type="text" placeholder="Search by Phone ..." class="form-control">
                                        </div>
                                        <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                            <button type="submit" class="btn btn-outline-primary">SEARCH</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="table-responsive">
                                    <table class="table display data-table text-nowrap">
                                        <thead>
                                            <tr>
                                                
                                                <th>Subject</th>
                                                <th>Class</th>
                                                <th>File</th>
                                      
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                            
                                            <tr>
                                                
                                                <td>English Grammer</td>
                                                <td>English</td>
                                                <td><a class="material-icons text-secondary" href="#">remove_red_eye</a></td>
                                                
                
                                                <td>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <span class="flaticon-more-button-of-three-dots"></span>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                <td>Expert Mathmetic</td>
                                                <td>Math</td>
                                                <td><a class="material-icons text-secondary" href="#">remove_red_eye</a></td>
                                                
                
                                                <td>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <span class="flaticon-more-button-of-three-dots"></span>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                <td>Bangla Grammer</td>
                                                <td>Bangla</td>
                                                <td><a class="material-icons text-secondary" href="#">remove_red_eye</a></td>
                                                
                                                
                                                <td>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <span class="flaticon-more-button-of-three-dots"></span>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                <td>English Grammer</td>
                                                <td>English</td>
                                                <td><a class="material-icons text-secondary" href="#">remove_red_eye</a></td>
                                                
                
                                                <td>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <span class="flaticon-more-button-of-three-dots"></span>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                <td>Computer Science</td>
                                                <td>Science</td>
                                                <td><a class="material-icons text-secondary" href="#">remove_red_eye</a></td>
                                                
                
                                                <td>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <span class="flaticon-more-button-of-three-dots"></span>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                <td>English Grammer</td>
                                                <td>English</td>
                                                <td><a class="material-icons text-secondary" href="#">remove_red_eye</a></td>
                                                
                
                                                <td>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <span class="flaticon-more-button-of-three-dots"></span>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                <td>Expert Mathmetic</td>
                                                <td>Math</td>
                                                <td><a class="material-icons text-secondary" href="#">remove_red_eye</a></td>
                                                
                
                                                <td>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <span class="flaticon-more-button-of-three-dots"></span>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                <td>Bangla Grammer</td>
                                                <td>Bangla</td>
                                                <td><a class="material-icons text-secondary" href="#">remove_red_eye</a></td>
                                                
                                                
                                                <td>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <span class="flaticon-more-button-of-three-dots"></span>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                <td>English Grammer</td>
                                                <td>English</td>
                                                <td><a class="material-icons text-secondary" href="#">remove_red_eye</a></td>
                                                
                
                                                <td>
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <span class="flaticon-more-button-of-three-dots"></span>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                            <a class="dropdown-item" href="#"><i
                                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                          
                                        </tbody>
                                    </table>
                                    <div class="card-body">
                                        <div class="pagination-light float-right">
                                            <ul class="pagination m-0">
                
                
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true" class="material-icons">chevron_left</span>
                                                        <span>Prev</span>
                                                    </a>
                                                </li>
                
                
                                                <li class="page-item active">
                                                    <a class="page-link" href="#" aria-label="1">
                                                        <span>1</span>
                                                    </a>
                                                </li>
                
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="2">
                                                        <span>2</span>
                                                    </a>
                                                </li>
                
                
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span>Next</span>
                                                        <span aria-hidden="true" class="material-icons">chevron_right</span>
                                                    </a>
                                                </li>
                
                
                                            </ul>
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>



<script src="{% static 'teacher/js/jquery.dataTables.min.js' %} "></script>
{% endblock %}