{% extends 'website/partials/base.html' %}
{% load static %}
{% block content %}
<div class="container-general">
    <!-- ##### DETAIL #####-->
    <div class="list-style">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-5 py-0 px-0 pa-md-6">
                <div class="carousel">
                    <div class="detail-carousel" id="detail_carousel">
                        <div class="image" data-index="0"><a class="waves-effect"
                                href="../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/21.jpg">
                                <div class="figure"><img
                                        src="../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/21.jpg"
                                        alt="thumb">
                                    <div class="img image-detail"
                                        style="background-image: url(../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/21.jpg)">
                                    </div><i class="material-icons zoom-icon">zoom_in</i>
                                </div>
                            </a></div>
                        <div class="image" data-index="1"><a class="waves-effect"
                                href="../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/22.jpg">
                                <div class="figure"><img
                                        src="../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/22.jpg"
                                        alt="thumb">
                                    <div class="img image-detail"
                                        style="background-image: url(../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/22.jpg)">
                                    </div><i class="material-icons zoom-icon">zoom_in</i>
                                </div>
                            </a></div>
                        <div class="image" data-index="2"><a class="waves-effect"
                                href="../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/23.jpg">
                                <div class="figure"><img
                                        src="../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/23.jpg"
                                        alt="thumb">
                                    <div class="img image-detail"
                                        style="background-image: url(../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/23.jpg)">
                                    </div><i class="material-icons zoom-icon">zoom_in</i>
                                </div>
                            </a></div>
                        <div class="image" data-index="3"><a class="waves-effect"
                                href="../../../res.cloudinary.com/walden-global-services/image/upload/v1544584555/dandelion/24.jpg">
                                <div class="figure"><img
                                        src="../../../res.cloudinary.com/walden-global-services/image/upload/v1544584555/dandelion/24.jpg"
                                        alt="thumb">
                                    <div class="img image-detail"
                                        style="background-image: url(../../../res.cloudinary.com/walden-global-services/image/upload/v1544584555/dandelion/24.jpg)">
                                    </div><i class="material-icons zoom-icon">zoom_in</i>
                                </div>
                            </a></div>
                        <div class="image" data-index="4"><a class="waves-effect"
                                href="../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/25.jpg">
                                <div class="figure"><img
                                        src="../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/25.jpg"
                                        alt="thumb">
                                    <div class="img image-detail"
                                        style="background-image: url(../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/25.jpg)">
                                    </div><i class="material-icons zoom-icon">zoom_in</i>
                                </div>
                            </a></div>
                        <div class="image" data-index="5"><a class="waves-effect"
                                href="../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/26.jpg">
                                <div class="figure"><img
                                        src="../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/26.jpg"
                                        alt="thumb">
                                    <div class="img image-detail"
                                        style="background-image: url(../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/26.jpg)">
                                    </div><i class="material-icons zoom-icon">zoom_in</i>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-7 pa-2 px-md-10">
                <div class="text">
                    <h4 class="use-text-title2"><span class="use-text-subtitle2">Vivamus sit
                            amet</span> The Lorem Ipsum Dolor Sit Amet</h4>
                    <div class="property">
                        <div class="star"><i class="material-icons star-icon" data-index="0">star</i><i
                                class="material-icons star-icon" data-index="1">star</i><i
                                class="material-icons star-icon" data-index="2">star</i><i
                                class="material-icons star-icon" data-index="3">star</i><i
                                class="material-icons star-icon" data-index="4">star</i></div>5.0<span
                            class="divider"></span>213
                        Sales
                    </div>
                    <article class="desc">
                        <h6 class="use-text-paragraph">Maecenas nisl libero, tincidunt id odio id,
                            feugiat vulputate quam. Vestibulum feugiat rhoncus metus.</h6>
                    </article>
                    <div class="btn-area main"><a class="btn-flat text-btn btn-large waves-effect" href="#">Add to
                            wishlist</a> <a class="btn button primary btn-large waves-effect" href="#">Add to
                            cart</a></div>
                </div>
            </div>
        </div>
    </div><!-- ##### END DETAIL #####-->
    <!-- ##### DESCRIPTION #####-->
    <div class="list-style">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12 px-md-6">
                <div class="row">
                    <div class="col-md-8 px-sm-4 px-0">
                        <h4 class="use-text-subtitle mb-3">Description</h4>
                        <p>Vestibulum faucibus eget erat eget pretium. Donec commodo convallis eget
                            suscipit orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <p>Pellentesque ullamcorper aliquet ultrices. Aenean facilisis vitae purus
                            facilisis semper. Nam vitae scelerisque lorem, quis tempus libero. Proin
                            varius, tortor faucibus tempor pharetra, nunc mi consectetur enim, nec
                            posuere ante magna vitae quam.</p>
                        <div class="btn-area"><a class="btn-flat text-btn"><i
                                    class="ion-android-share-alt"></i>Share</a> <a class="btn-flat text-btn"><i
                                    class="ion-film-marker"></i>Trivia</a>
                            <a class="btn-flat text-btn"><i class="ion-ios-star"></i>Rate this</a>
                        </div>
                    </div>
                    <div class="col-md-4 px-sm-4 px-0">
                        <div class="person">
                            <h6 class="caption use-text-bold">Property 1</h6>
                            <p>Item 1, Item 2, Item 3, Item 4, Item 5</p>
                            <h6 class="caption use-text-bold">Property 2</h6>
                            <p>Item 1, Item 2, Item 3, Item 4, Item 5</p>
                            <h6 class="caption use-text-bold">Property 3</h6>
                            <p>Item 1, Item 2, Item 3, Item 4, Item 5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- ##### END DESCRIPTION #####-->
    <!-- ##### RELATED ITEMS #####-->
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 py-6 px-sm-0 px-md-6">
            <h4 class="use-text-subtitle mb-3">Related Products</h4>
            <div class="row scroll-tablet mb-0">
                <div class="col-md-3 col-sm-4 col-10 px-2" data-index="0">
                    <div class="card product-card portrait over"><a class="waves-effect hidden-link" href="#">&nbsp;</a>
                        <div class="figure">
                            <div class="responsive-img"
                                style="background-image:url(../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/21.jpg);">
                            </div>
                        </div>
                        <div class="desc">
                            <div class="text">
                                <h6 class="title pb-2 text-truncate">Sed lacinia velit</h6>
                                <p class="use-text-paragraph">Proin pretium arcu eget metus porta
                                    consecteturc</p>
                            </div>
                            <div>
                                <div class="property">
                                    <div class="rating"><i class="material-icons star-icon" title="1">star</i><i
                                            class="material-icons star-icon" title="2">star</i><i
                                            class="material-icons star-icon" title="3">star</i><i
                                            class="material-icons star-icon-disable" title="1">star</i><i
                                            class="material-icons star-icon-disable" title="2">star</i></div>
                                    <strong>$20</strong>
                                </div><a class="btn btn-outlined primary button block waves-effect" href="#">see
                                    detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-10 px-2" data-index="1">
                    <div class="card product-card portrait over"><a class="waves-effect hidden-link" href="#">&nbsp;</a>
                        <div class="figure">
                            <div class="responsive-img"
                                style="background-image:url(../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/22.jpg);">
                            </div>
                        </div>
                        <div class="desc">
                            <div class="text">
                                <h6 class="title pb-2 text-truncate">Sed lacinia velit</h6>
                                <p class="use-text-paragraph">Proin pretium arcu eget metus porta
                                    consecteturc</p>
                            </div>
                            <div>
                                <div class="property">
                                    <div class="rating"><i class="material-icons star-icon" title="1">star</i><i
                                            class="material-icons star-icon" title="2">star</i><i
                                            class="material-icons star-icon" title="3">star</i><i
                                            class="material-icons star-icon-disable" title="1">star</i><i
                                            class="material-icons star-icon-disable" title="2">star</i></div>
                                    <strong>$20</strong>
                                </div><a class="btn btn-outlined primary button block waves-effect" href="#">see
                                    detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-10 px-2" data-index="2">
                    <div class="card product-card portrait over"><a class="waves-effect hidden-link" href="#">&nbsp;</a>
                        <div class="figure">
                            <div class="responsive-img"
                                style="background-image:url(../../../res.cloudinary.com/walden-global-services/image/upload/v1544584556/dandelion/23.jpg);">
                            </div>
                        </div>
                        <div class="desc">
                            <div class="text">
                                <h6 class="title pb-2 text-truncate">Sed lacinia velit</h6>
                                <p class="use-text-paragraph">Proin pretium arcu eget metus porta
                                    consecteturc</p>
                            </div>
                            <div>
                                <div class="property">
                                    <div class="rating"><i class="material-icons star-icon" title="1">star</i><i
                                            class="material-icons star-icon" title="2">star</i><i
                                            class="material-icons star-icon" title="3">star</i><i
                                            class="material-icons star-icon-disable" title="1">star</i><i
                                            class="material-icons star-icon-disable" title="2">star</i></div>
                                    <strong>$20</strong>
                                </div><a class="btn btn-outlined primary button block waves-effect" href="#">see
                                    detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-10 px-2" data-index="3">
                    <div class="card product-card portrait over"><a class="waves-effect hidden-link" href="#">&nbsp;</a>
                        <div class="figure">
                            <div class="responsive-img"
                                style="background-image:url(../../../res.cloudinary.com/walden-global-services/image/upload/v1544584555/dandelion/24.jpg);">
                            </div>
                        </div>
                        <div class="desc">
                            <div class="text">
                                <h6 class="title pb-2 text-truncate">Sed lacinia velit</h6>
                                <p class="use-text-paragraph">Proin pretium arcu eget metus porta
                                    consecteturc</p>
                            </div>
                            <div>
                                <div class="property">
                                    <div class="rating"><i class="material-icons star-icon" title="1">star</i><i
                                            class="material-icons star-icon" title="2">star</i><i
                                            class="material-icons star-icon" title="3">star</i><i
                                            class="material-icons star-icon-disable" title="1">star</i><i
                                            class="material-icons star-icon-disable" title="2">star</i></div>
                                    <strong>$20</strong>
                                </div><a class="btn btn-outlined primary button block waves-effect" href="#">see
                                    detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- ##### END RELATED #####-->
    <!-- ##### COMMENT #####-->
    <div class="comments-style">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12 px-sm-0 px-md-6">
                <div class="row">
                    <div class="col-md-8 px-0 px-sm-4">
                        <h4 class="use-text-subtitle mb-3 text-capitalize">comments</h4>
                        <div class="comments-style">
                            <div class="form-comment">
                                <div class="write">
                                    <div class="avatar-img"><img
                                            src="https://skyone.vercel.app/education/assets/images/avatars/pp_boy3.svg"
                                            alt="avatar"></div>
                                    <div class="input-field"><input id="write_comment" placeholder="Write Comments"
                                            type="text"> <button
                                            class="btn btn-small waves-effect primary send-btn"><span
                                                class="hidden-xs-down">Send Message</span><i
                                                class="material-icons icon show-xs-down">send</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collection border-0">
                            <div class="comment-list">
                                <div class="collection-item avatar"><img class="circle"
                                        src="https://skyone.vercel.app/education/assets/images/avatars/pp_boy4.svg"
                                        alt="John Doe"> <span class="title font-weight-medium">John
                                        Doe</span>
                                    <div><span class="caption">13 Dec 2021</span>
                                        <p class="mt-2">Maecenas nisl libero, tincidunt id odio id,
                                            feugiat vulputate quam. Vestibulum feugiat rhoncus
                                            metus. In non erat et ipsum molestie porta sit amet ut
                                            felis. Vestibulum a massa vestibulum, gravida odio id,
                                            fringilla ipsum.</p>
                                    </div>
                                </div>
                                <hr class="divider">
                            </div>
                            <div class="comment-list">
                                <div class="collection-item avatar"><img class="circle"
                                        src="https://skyone.vercel.app/education/assets/images/avatars/pp_boy4.svg"
                                        alt="John Doe"> <span class="title font-weight-medium">John
                                        Doe</span>
                                    <div><span class="caption">13 Dec 2021</span>
                                        <p class="mt-2">Maecenas nisl libero, tincidunt id odio id,
                                            feugiat vulputate quam. Vestibulum feugiat rhoncus
                                            metus. In non erat et ipsum molestie porta sit amet ut
                                            felis. Vestibulum a massa vestibulum, gravida odio id,
                                            fringilla ipsum.</p>
                                    </div>
                                </div>
                                <hr class="divider">
                            </div>
                            <div class="comment-list">
                                <div class="collection-item avatar"><img class="circle"
                                        src="https://skyone.vercel.app/education/assets/images/avatars/pp_boy4.svg"
                                        alt="John Doe"> <span class="title font-weight-medium">John
                                        Doe</span>
                                    <div><span class="caption">13 Dec 2021</span>
                                        <p class="mt-2">Maecenas nisl libero, tincidunt id odio id,
                                            feugiat vulputate quam. Vestibulum feugiat rhoncus
                                            metus. In non erat et ipsum molestie porta sit amet ut
                                            felis. Vestibulum a massa vestibulum, gravida odio id,
                                            fringilla ipsum.</p>
                                    </div>
                                </div>
                                <hr class="divider">
                            </div>
                            <div class="comment-list">
                                <div class="collection-item avatar"><img class="circle"
                                        src="https://skyone.vercel.app/education/assets/images/avatars/pp_boy4.svg"
                                        alt="John Doe"> <span class="title font-weight-medium">John
                                        Doe</span>
                                    <div><span class="caption">13 Dec 2021</span>
                                        <p class="mt-2">Maecenas nisl libero, tincidunt id odio id,
                                            feugiat vulputate quam. Vestibulum feugiat rhoncus
                                            metus. In non erat et ipsum molestie porta sit amet ut
                                            felis. Vestibulum a massa vestibulum, gravida odio id,
                                            fringilla ipsum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pa-sm-3 px-0">
                        <div class="comments-style">
                            <div class="collection helper"><a class="collection-item waves-effect" href="#!"><i
                                        class="icon primary left material-icons">info</i><span class="help-item">report
                                        this item</span> </a><a class="collection-item waves-effect" href="#!"><i
                                        class="icon primary left material-icons">help</i><span class="help-item">report
                                        this item</span> </a><a class="collection-item waves-effect" href="#!"><i
                                        class="icon primary left material-icons">radio_button_checked</i><span
                                        class="help-item">other option 1</span> </a><a
                                    class="collection-item waves-effect" href="#!"><i
                                        class="icon primary left material-icons">check_circle</i><span
                                        class="help-item">other option 2</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- ##### END COMMENT #####-->
</div>

</div>
</div>
</div>
</div>
{% endblock %}
