{% extends 'website/partials/base.html' %}
{% load static %}
{% block content %}
<div class="container policy-main p-5">
    <div class="policy mt-5">
        <center><p>Privacy And Policy</p></center>
        
        <div>
            <dt>Heading
                <dd>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aliquam dignissimos est provident cupiditate molestiae magni, non libero recusandae sint necessitatibus consequuntur consectetur aliquid veritatis sed sit laborum animi repellendus?
                </dd>
            </dt>
            <dt>Heading1
                <dd>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aliquam dignissimos est provident cupiditate molestiae magni, non libero recusandae sint necessitatibus consequuntur consectetur aliquid veritatis sed sit laborum animi repellendus?
                </dd>
            </dt>
            <dt>Heading2
                <dd>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aliquam dignissimos est provident cupiditate molestiae magni, non libero recusandae sint necessitatibus consequuntur consectetur aliquid veritatis sed sit laborum animi repellendus?
                </dd>
            </dt>
        </div>
    </div>
   
</div>
{% endblock %}