{% extends 'website/partials/base.html' %}
{% load static %}
{% block content %}

<!-- ##### PRICING #####-->
<div class="container-general">
    <div class="mt-5">
        <div class="container">
            <div class="mt-12">
                <div class="title-main align-center">
                    <h4 class="primary"><span>pricing and plan</span></h4>
                    <p class="desc use-text-subtitle2">The best value designed for your workplace,
                        starting at just $24/user/month.</p>
                </div>
            </div>
            <div class="pricing-wrap">
                <div class="row align-items-end">
                    <div class="col-md-3 col-sm-6 px-3">
                        <div class="card pricing-card">
                            <div class="title-card">
                                <p class="use-text-secondary-color">Free</p>
                                <div class="card-pricing">
                                    <h2 class="use-text-title use-text-secondary">$0</h2>
                                    <h6 class="use-text-paragraph">&nbsp;/mo</h6>
                                </div>
                            </div>
                            <ul>
                                <li>15 users included</li>
                                <li>10 GB of storage</li>
                                <li>Help center access</li>
                            </ul>
                            <div class="btn-area secondary-color">
                                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                <a class="btn button full-width waves-effect secondary" href="#">start for free</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 px-3">
                        <div class="card pricing-card">
                            <div class="title-card">
                                <p class="use-text-primary-color">Personal</p>
                                <div class="card-pricing">
                                    <h2 class="use-text-title use-text-primary">$5</h2>
                                    <h6 class="use-text-paragraph">&nbsp;/mo</h6>
                                </div>
                            </div>
                            <ul>
                                <li>15 users included</li>
                                <li>10 GB of storage</li>
                                <li>Help center access</li>
                                <li>Priority email support</li>
                            </ul>
                            <div class="btn-area primary-color">
                                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                <a class="btn button full-width waves-effect primary" href="#">buy
                                    now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 px-3">
                        <div class="card pricing-card bg">
                            <div class="title-card">
                                <p class="use-text-primary-color">Pro</p><i class="material-icons icon">star_border</i>
                                <div class="card-pricing">
                                    <h2 class="use-text-title use-text-primary">$15</h2>
                                    <h6 class="use-text-paragraph">&nbsp;/mo</h6>
                                </div>
                            </div>
                            <ul>
                                <li>20 users included</li>
                                <li>10 GB of storage</li>
                                <li>Help center access</li>
                                <li>Priority email support</li>
                            </ul>
                            <div class="btn-area primary-color">
                                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                <a class="btn button full-width waves-effect primary" href="#">buy
                                    now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 px-3">
                        <div class="card pricing-card">
                            <div class="title-card">
                                <p class="use-text-primary-color">Enterprise</p>
                                <div class="card-pricing">
                                    <h2 class="use-text-title use-text-primary">$30</h2>
                                    <h6 class="use-text-paragraph">&nbsp;/mo</h6>
                                </div>
                            </div>
                            <ul>
                                <li>50 users included</li>
                                <li>30 GB of storage</li>
                                <li>Help center access</li>
                                <li>Priority email support</li>
                                <li>Phone &amp; email support</li>
                            </ul>
                            <div class="btn-area primary-color">
                                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                <a class="btn button full-width waves-effect primary" href="#">contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- ##### END  PRICING #####-->
<!-- ##### FAQ #####-->
<div class="space-top-short">
    <div class="faq-style">
        <div class="root">
            <div class="container fixed-width">
                <div class="row spacing6">
                    <div class="col-md-6 pa-6">
                        <h4 class="use-text-title2 mb-3 text-md-start text-center">Frequently
                            Answers and Questions</h4>
                        <p class="text use-text-subtitle2 text-md-start text-center">Have a
                            question? Check out our frequently asked questions to find your answer.
                        </p>
                        <div class="hidden-sm-down">
                            <div class="illustration"><img class="img-2d3d"
                                    src="../../../res.cloudinary.com/skyrev/image/upload/v1613842289/skyrev/education/faq_3d_2x_xmgkyt.png"
                                    data-2d="https://res.cloudinary.com/skyrev/image/upload/v1613842288/skyrev/education/faq_2d_2x_uq6bqh.png"
                                    data-3d="https://res.cloudinary.com/skyrev/image/upload/v1613842289/skyrev/education/faq_3d_2x_xmgkyt.png"
                                    alt="services 3d"></div>
                        </div>
                    </div>
                    <div class="col-md-6 pa-6">
                        <div class="accordion">
                            <ul class="collapsible">
                                <li class="accordion-content paper active">
                                    <div class="collapsible-header content">
                                        <p class="heading">Pellentesque ac bibendum tortor?</p><i
                                            class="material-icons right arrow">expand_more</i>
                                    </div>
                                    <div class="collapsible-body detail">
                                        <p>Vivamus sit amet interdum elit. Proin lacinia erat ac
                                            velit tempus auctor.</p>
                                    </div>
                                </li>
                                <li class="accordion-content paper">
                                    <div class="collapsible-header content">
                                        <p class="heading">In mi nulla, fringilla vestibulum?</p><i
                                            class="material-icons right arrow">expand_more</i>
                                    </div>
                                    <div class="collapsible-body detail">
                                        <p>Vivamus sit amet interdum elit. Proin lacinia erat ac
                                            velit tempus auctor.</p>
                                    </div>
                                </li>
                                <li class="accordion-content paper">
                                    <div class="collapsible-header content">
                                        <p class="heading">Quisque lacinia purus ut libero?</p><i
                                            class="material-icons right arrow">expand_more</i>
                                    </div>
                                    <div class="collapsible-body detail">
                                        <p>Vivamus sit amet interdum elit. Proin lacinia erat ac
                                            velit tempus auctor.</p>
                                    </div>
                                </li>
                                <li class="accordion-content paper">
                                    <div class="collapsible-header content">
                                        <p class="heading">Quisque ut metus sit amet augue?</p><i
                                            class="material-icons right arrow">expand_more</i>
                                    </div>
                                    <div class="collapsible-body detail">
                                        <p>Vivamus sit amet interdum elit. Proin lacinia erat ac
                                            velit tempus auctor.</p>
                                    </div>
                                </li>
                                <li class="accordion-content paper">
                                    <div class="collapsible-header content">
                                        <p class="heading">Pellentesque ac bibendum tortor?</p><i
                                            class="material-icons right arrow">expand_more</i>
                                    </div>
                                    <div class="collapsible-body detail">
                                        <p>Vivamus sit amet interdum elit. Proin lacinia erat ac
                                            velit tempus auctor.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- ##### END FAQ #####-->


{% endblock %}