{% extends 'parent/partials/base.html' %}
{% load static %}
{% block content %}
<div class="ms-content-wrapper">
    <div class="row">

      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb pl-0">
            <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fees</li>
              <li class="breadcrumb-item active" aria-current="page">Fees Collection</li>
          </ol>
        </nav>
      </div>
        <div class="col-lg-12">
        <div class="ms-panel">
          <div class="ms-panel-header">
            <h6>Fees Table</h6>
          </div>
          <div class="ms-panel-body">
            <div class="table-responsive">
              <table id="data-table-2" class="table table-striped thead-primary w-100">
            
              </table>
            </div>
          </div>
        </div>
</div>
        
        
        
      </div>
    </div>
{% endblock %}