{% load static %}
<!-- ##### FOOTER #####-->
<footer class="footer-sitemap">
    <div class="footer-bottom-deco">
        <div class="left-deco"><img class="img-2d3d" src="{% static 'website/images/index/leftleaf.png' %}"
                data-2d="https://res.cloudinary.com/skyrev/image/upload/v1613842291/skyrev/education/footer_plant_2d_2x_k7m4ff.png"
                data-3d="https://res.cloudinary.com/skyrev/image/upload/v1613842291/skyrev/education/footer_plant_3d_2x_i8osqq.png"
                alt="footer"></div>
        <div class="right-deco"><img class="img-2d3d" src="{% static 'website/images/index/rightleaf.png' %}"
                data-2d="https://res.cloudinary.com/skyrev/image/upload/v1613842291/skyrev/education/footer_plant2_2d_2x_cyd1pl.png"
                data-3d="https://res.cloudinary.com/skyrev/image/upload/v1613842291/skyrev/education/footer_plant2_3d_2x_dvi0iw.png"
                alt="footer"></div>
    </div>
    <div class="container mq-sm-down" data-class="fixed-width">
        <div class="row">
            <div class="col-md-3 pa-lg-4 logo-area">
                <div class="logo"><span class="logo-main landscape medium"><img
                            src="{% static 'website/images/logo-education.png' %}" alt="logo">E-Learn</span>
                </div>
                <p class="body-2">Anywhere, anytime. Start learning today! And Get an Exceptional
                    Education Experience.</p>
                <p class="body-2 hidden-sm-down">&copy; Nirwana Theme 2022</p>
            </div>
            <div class="col-md-6 pa-4">
                <ul class="show-sm-down collapsible">
                    <li class="accordion-content">
                        <div class="collapsible-header">
                            <h6 class="title">Company</h6><i class="material-icons right arrow">expand_more</i>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#team">Team</a></li>
                                <li><a href="#history">History</a></li>
                                <li><a href="#contact-us">Contact us</a></li>
                                <li><a href="#locations">Locations</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-content">
                        <div class="collapsible-header">
                            <h6 class="title">Resources</h6><i class="material-icons right arrow">expand_more</i>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#resource">Resource</a></li>
                                <li><a href="#resource-name">Resource name</a></li>
                                <li><a href="#another-resource">Another resource</a></li>
                                <li><a href="#final-resource">Final resource</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-content">
                        <div class="collapsible-header">
                            <h6 class="title">Legal</h6><i class="material-icons right arrow">expand_more</i>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#privacy-policy">Privacy policy</a></li>
                                <li><a href="#terms-of-use">Terms of use</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="row show-md-up justify-content-around">
                    <div class="col pa-4 site-map-item">
                        <h6 class="title mb-4">Company</h6>
                        <ul>
                            <li><a href="#team">Team</a></li>
                            <li><a href="#history">History</a></li>
                            <li><a href="#contact-us">Contact us</a></li>
                            <li><a href="#locations">Locations</a></li>
                        </ul>
                    </div>
                    <div class="col pa-4 site-map-item">
                        <h6 class="title mb-4">Resources</h6>
                        <ul>
                            <li><a href="#resource">Resource</a></li>
                            <li><a href="#resource-name">Resource name</a></li>
                            <li><a href="#another-resource">Another resource</a></li>
                            <li><a href="#final-resource">Final resource</a></li>
                        </ul>
                    </div>
                    <div class="col pa-4 site-map-item">
                        <h6 class="title mb-4">Legal</h6>
                        <ul>
                            <li><a href="#privacy-policy">Privacy policy</a></li>
                            <li><a href="#terms-of-use">Terms of use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pa-4">
                <div class="socmed">
                    <a class="btn btn-icon waves-effect">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a class="btn btn-icon waves-effect">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                     <a class="btn btn-icon waves-effect">
                        <i class="fa-brands fa-instagram-square"></i>
                    </a>
                    <a class="btn btn-icon waves-effect">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
                <div class="select-lang select-outlined"><select class="select" id="lang_select">
                        <option value="ar">󠁥󠁮󠁧󠁿العربيّة</option>
                        <option value="de">Deutsch</option>
                        <option value="en" selected="selected">English</option>
                        <option value="id">󠁥󠁮󠁧󠁿Bahasa Indonesia</option>
                        <option value="pt">󠁥󠁮󠁧󠁿Português</option>
                        <option value="zh">简体中文</option>
                    </select></div>
                <p class="body-2 mt-5 text-center hidden-md-up">&copy; Nirwana Theme 2022</p>
            </div>
        </div>
    </div>
</footer><!-- ##### END FOOTER #####-->

<!-- ##### CORNER #####-->
<!-- <div class="hidden-md-down">
    <div class="chat">
        <div class="panel" id="chat_panel">
            <header>
                <h3><span class="indicator online"></span>Live Chat</h3>
                <div class="btn btn-icon waves-effect close" id="close_chat"><i
                        class="ion-android-close"></i></div>
            </header>
            <div class="chat-room" id="chat-container">
                <ul>
                    <li class="item">
                        <div class="avatar"><img class="avatar-img"
                                src="https://skyone.vercel.app/education/assets/images/avatars/pp_boy4.svg"
                                alt="visitor"></div><span class="talk from">Hola!, Maecenas</span>
                    </li>
                    <li class="item justify-content-end"><span class="talk">Hola!, Maecenas
                            nisl</span></li>
                    <li class="item">
                        <div class="avatar"><img class="avatar-img"
                                src="https://skyone.vercel.app/education/assets/images/avatars/pp_boy4.svg"
                                alt="visitor"></div><span class="talk from">Hola!, Maecenas</span>
                    </li>
                </ul>
            </div>
            <div class="form">
                <div class="input-field"><input id="chat_field" type="text"> <label
                        for="chat_field">Ask something</label></div>
                <div class="btn-floating waves-effect send" id="send_message"><span
                        class="ion-android-send"></span></div>
            </div>
        </div>
        <div class="btn-floating btn-large chat-button" id="toggle_chat"><span
                class="indicator online"></span><i class="ion ion-chatbox"></i></div>
    </div>
</div> -->
<!-- ##### END CORNER #####-->
</div>
</div>
</div>
</div>