{% load static %}
<section class="bottom-deco-wrap space-top" id="subscribe">
    <div class="footer-top-deco">
        <div class="wow zoomInShort" data-wow-offset="0" data-wow-delay="0.2s"
            data-wow-duration="0.3s"><img class="img-2d3d"
                src="{% static 'website/images/index/subscribe.png' %}"
                data-2d="https://res.cloudinary.com/skyrev/image/upload/v1613842290/skyrev/education/footer_2d_2x_sa2kxh.png"
                data-3d="https://res.cloudinary.com/skyrev/image/upload/v1613842290/skyrev/education/footer_3d_2x_tivfcv.png"
                alt="footer"></div>
    </div>
    <div class="subsribe-form">
        <div class="root">
            <div class="container max-sm">
                <h3 class="use-text-title2 mb-4">Subscribe our newsletter</h3>
                <p class="use-text-subtitle2">Subscribe our newsletter</p>
                <div class="form">
                    <form>
                        <div class="field outlined">
                            <div class="input-field dark full-width solo"><input type="email"
                                    name="email" placeholder="What is your email? *"></div>
                        </div><button class="btn primary button waves-effect"
                            type="button">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- ##### FOOTER #####-->
<footer class="footer-sitemap">
    <div class="footer-bottom-deco">
        <div class="left-deco"><img class="img-2d3d"
                src="{% static 'website/images/index/leftleaf.png' %}"
                data-2d="https://res.cloudinary.com/skyrev/image/upload/v1613842291/skyrev/education/footer_plant_2d_2x_k7m4ff.png"
                data-3d="https://res.cloudinary.com/skyrev/image/upload/v1613842291/skyrev/education/footer_plant_3d_2x_i8osqq.png"
                alt="footer"></div>
        <div class="right-deco"><img class="img-2d3d"
                src="{% static 'website/images/index/rightleaf.png' %}"
                data-2d="https://res.cloudinary.com/skyrev/image/upload/v1613842291/skyrev/education/footer_plant2_2d_2x_cyd1pl.png"
                data-3d="https://res.cloudinary.com/skyrev/image/upload/v1613842291/skyrev/education/footer_plant2_3d_2x_dvi0iw.png"
                alt="footer"></div>
    </div>
    <div class="container mq-sm-down" data-class="fixed-width">
        <div class="row">
            <div class="col-md-3 pa-lg-4 logo-area">
                <div class="logo"><span class="logo-main landscape medium"><img
                            src="{% static 'website/images/logo-education.png' %}"
                            alt="logo">E-Learn</span>
                </div>
                <p class="body-2">Anywhere, anytime. Start learning today! And Get an Exceptional
                    Education Experience.</p>
                <p class="body-2 hidden-sm-down">&copy; Nirwana Theme 2022</p>
            </div>
            <div class="col-md-6 pa-4">
                <ul class="show-sm-down collapsible">
                    <li class="accordion-content">
                        <div class="collapsible-header">
                            <h6 class="title">Company</h6><i
                                class="material-icons right arrow">expand_more</i>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#team">Team</a></li>
                                <li><a href="#history">History</a></li>
                                <li><a href="#contact-us">Contact us</a></li>
                                <li><a href="#locations">Locations</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-content">
                        <div class="collapsible-header">
                            <h6 class="title">Resources</h6><i
                                class="material-icons right arrow">expand_more</i>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#resource">Resource</a></li>
                                <li><a href="#resource-name">Resource name</a></li>
                                <li><a href="#another-resource">Another resource</a></li>
                                <li><a href="#final-resource">Final resource</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-content">
                        <div class="collapsible-header">
                            <h6 class="title">Legal</h6><i
                                class="material-icons right arrow">expand_more</i>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#privacy-policy">Privacy policy</a></li>
                                <li><a href="#terms-of-use">Terms of use</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="row show-md-up justify-content-around">
                    <div class="col pa-4 site-map-item">
                        <h6 class="title mb-4">Company</h6>
                        <ul>
                            <li><a href="#team">Team</a></li>
                            <li><a href="#history">History</a></li>
                            <li><a href="#contact-us">Contact us</a></li>
                            <li><a href="#locations">Locations</a></li>
                        </ul>
                    </div>
                    <div class="col pa-4 site-map-item">
                        <h6 class="title mb-4">Resources</h6>
                        <ul>
                            <li><a href="#resource">Resource</a></li>
                            <li><a href="#resource-name">Resource name</a></li>
                            <li><a href="#another-resource">Another resource</a></li>
                            <li><a href="#final-resource">Final resource</a></li>
                        </ul>
                    </div>
                    <div class="col pa-4 site-map-item">
                        <h6 class="title mb-4">Legal</h6>
                        <ul>
                            <li><a href="#privacy-policy">Privacy policy</a></li>
                            <li><a href="#terms-of-use">Terms of use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pa-4">
                <div class="socmed">
                    <a class="btn btn-icon waves-effect">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a class="btn btn-icon waves-effect">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a class="btn btn-icon waves-effect">
                        <i class="fa-brands fa-instagram-square"></i>
                    </a>
                    <a class="btn btn-icon waves-effect">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
                <div class="select-lang select-outlined"><select class="select" id="lang_select">
                        <option value="ar">󠁥󠁮󠁧󠁿العربيّة</option>
                        <option value="de">Deutsch</option>
                        <option value="en" selected="selected">English</option>
                        <option value="id">󠁥󠁮󠁧󠁿Bahasa Indonesia</option>
                        <option value="pt">󠁥󠁮󠁧󠁿Português</option>
                        <option value="zh">简体中文</option>
                    </select></div>
                <p class="body-2 mt-5 text-center hidden-md-up">&copy; Nirwana Theme 2022</p>
            </div>
        </div>
    </div>
</footer>
<!-- ##### END FOOTER #####-->
