{% load static %}

<div id="preloader" style="position: fixed; z-index: 10000; background: #fafafa; width: 100%; height: 100%"><img
                style="opacity: 0.2; position: fixed; top: calc(50% - 50px); left: calc(50% - 50px)"
                src="{% static 'website/images/loading.gif' %}" alt="loading"></div>
<div class="m-application theme--light transition-page" id="app">
        <div class="loading"></div>
        <div class="m-content smart smart-var" id="main-wrap">

                <div id="home">
                        <div class="main-wrap">
                                <!-- #### HEADER ####-->
                                <div class="sidenav mobile-nav" id="slide_menu">
                                        <div class="side-multilv">
                                                <div class="collection side-multilv">
                                                        <ul class="collapsible expandable">
                                                                <li class="collection-item"><a
                                                                                class="sidenav-close waves-effect menu-list"
                                                                                href="#feature">main feature</a></li>
                                                                <li class="collection-item"><a
                                                                                class="sidenav-close waves-effect menu-list"
                                                                                href="#popular">popular course</a></li>
                                                                <li class="collection-item"><a
                                                                                class="sidenav-close waves-effect menu-list"
                                                                                href="#explore">explore</a></li>
                                                                <li class="collection-item"><a
                                                                                class="sidenav-close waves-effect menu-list"
                                                                                href="#blog-home">blog</a></li>
                                                                <li class="collection-item group-child has-child">
                                                                        <div class="collapsible-header"><a
                                                                                        class="waves-effect text-truncate menu-list"
                                                                                        href="#!">More <i
                                                                                                class="material-icons right">keyboard_arrow_down</i></a>
                                                                        </div>
                                                                        <div class="collapsible-body">
                                                                                <div class="collection side-group">
                                                                                        <ul class="group-child">
                                                                                                <li
                                                                                                        class="collection-header">
                                                                                                        <div
                                                                                                                class="title-mega">
                                                                                                                Company
                                                                                                        </div>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="about.html">about</a>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="about-team.html">team</a>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="blog.html">blog</a>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="detail-blog.html">blog
                                                                                                                detail</a>
                                                                                                </li>
                                                                                        </ul>
                                                                                        <ul class="group-child">
                                                                                                <li
                                                                                                        class="collection-header">
                                                                                                        <div
                                                                                                                class="title-mega">
                                                                                                                Form
                                                                                                        </div>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="{% url 'website:login' %}">login</a>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="{% url 'website:login' %}">register</a>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="contact.html">contact</a>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="contact-map.html">contact
                                                                                                                map</a>
                                                                                                </li>
                                                                                        </ul>
                                                                                        <ul class="group-child">
                                                                                                <li
                                                                                                        class="collection-header">
                                                                                                        <div
                                                                                                                class="title-mega">
                                                                                                                Items
                                                                                                        </div>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="collection.html">card</a>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="products.html">product</a>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="product-detail.html">product
                                                                                                                detail</a>
                                                                                                </li>
                                                                                        </ul>
                                                                                        <ul class="group-child">
                                                                                                <li
                                                                                                        class="collection-header">
                                                                                                        <div
                                                                                                                class="title-mega">
                                                                                                                Utilities
                                                                                                        </div>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="pricing.html">pricing</a>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="faq.html">faq</a>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="maintenance.html">maintenance</a>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="coming-soon.html">coming
                                                                                                                soon</a>
                                                                                                </li>
                                                                                                <li
                                                                                                        class="collection-item side-group-link">
                                                                                                        <a class="waves-effect text-truncate menu-list"
                                                                                                                href="404.html">error</a>
                                                                                                </li>
                                                                                        </ul>
                                                                                </div>
                                                                        </div>
                                                                </li>
                                                        </ul>




                                                    
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="collection">
                                                        <ul>
                                                                <li class="collection-item"><a
                                                                                class="sidenav-close waves-effect menu-list"
                                                                                href="login.html">Login</a></li>
                                                                <li class="collection-item"><a
                                                                                class="sidenav-close waves-effect menu-list"
                                                                                href="register.html">register</a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                                <header class="app-bar header" id="header">
                                        <div class="container">
                                                <div class="header-content">
                                                        <nav class="nav-menu"><button
                                                                        class="btn-icon waves-effect sidenav-trigger hamburger hamburger--spin show-md-down"
                                                                        id="mobile_menu" type="button"
                                                                        data-target="slide_menu"><span
                                                                                class="hamburger-box"><span
                                                                                        class="bar hamburger-inner"></span></span></button>
                                                                <div class="logo"><a
                                                                                href="{% url 'website:index' %}"><span
                                                                                        class="logo-main landscape medium"><img
                                                                                                src="{% static 'website/images/logo-education.png' %}"
                                                                                                alt="logo">E-Learn</span></a>
                                                                </div>
                                                                <div
                                                                        class="scrollactive-nav scrollnav show-lg-up multi-menu">
                                                                        <ul class="main-menu">
                                                                                <li><a class="btn btn-flat anchor-link waves-effect"
                                                                                                href="{% url 'website:index' %}">Home</a>
                                                                                </li>
                                                                                <li><a class="btn btn-flat anchor-link waves-effect"
                                                                                                href="#feature"  >About
                                                                                                Us</a></li>
                                                                                <li><a class="btn btn-flat anchor-link waves-effect"
                                                                                                href="#popular">popular
                                                                                                course</a></li>

                                                                                <li><a class="btn btn-flat anchor-link waves-effect"
                                                                                                href="#blog-home">Updates</a>
                                                                                </li>
                                                                                <li><a class="btn btn-flat anchor-link waves-effect"
                                                                                                href="{% url 'website:contact' %}">Contact
                                                                                                Us</a>
                                                                                </li>

                                                                        </ul>
                                                                </div>
                                                                <nav class="user-menu"><a
                                                                                class="btn btn-flat waves-effect show-sm-up"
                                                                                href="{% url 'website:login' %}">Login</a>
                                                                        <a class="btn waves-effect primary show-sm-up"
                                                                                href="{% url 'website:register' %}">register</a>
                                                                        <span
                                                                                class="spacer vertical-divider show-lg-up"></span>
                                                                        <div class="menu-setting">
                                                                                <div class="setting"><button
                                                                                                class="btn btn-icon waves-effect btn-small dropdown-trigger ma-1"
                                                                                                data-target="dropdown_config"
                                                                                                data-align="left"
                                                                                                type="button"><i
                                                                                                        class="icon material-icons"
                                                                                                        id="setting_icon">settings</i></button>
                                                                                        <div class="dropdown-content setting"
                                                                                                id="dropdown_config">
                                                                                                <ul
                                                                                                        class="collection with-header">
                                                                                                        <li
                                                                                                                class="collection-header">
                                                                                                                theme
                                                                                                                mode
                                                                                                        </li>
                                                                                                        <li
                                                                                                                class="collection-item no-hover pl-4">
                                                                                                                <div
                                                                                                                        class="flex-menu">
                                                                                                                        <div
                                                                                                                                class="switch">
                                                                                                                                <label>light
                                                                                                                                        <input id="theme_switcher"
                                                                                                                                                type="checkbox"><span
                                                                                                                                                class="lever"></span>
                                                                                                                                        dark</label>
                                                                                                                        </div>
                                                                                                                </div>
                                                                                                        </li>
                                                                                                </ul>
                                                                                                <div
                                                                                                        class="dropdown-divider">
                                                                                                </div>
                                                                                                <ul class="collection with-header lang-menu"
                                                                                                        id="lang_menu">
                                                                                                        <li
                                                                                                                class="collection-header">
                                                                                                                language
                                                                                                        </li>
                                                                                                        <li
                                                                                                                class="collection-item lang-list waves-effect avatar">
                                                                                                                <a data-lang="ar"
                                                                                                                        href="#">
                                                                                                                        <div
                                                                                                                                class="flag circle">
                                                                                                                                <i
                                                                                                                                        class="ar"></i>
                                                                                                                        </div>
                                                                                                                        <span
                                                                                                                                class="content lang-opt text-truncate">󠁥󠁮󠁧󠁿العربيّة</span>
                                                                                                                </a>
                                                                                                        </li>
                                                                                                        <li
                                                                                                                class="collection-item lang-list waves-effect avatar">
                                                                                                                <a data-lang="de"
                                                                                                                        href="#">
                                                                                                                        <div
                                                                                                                                class="flag circle">
                                                                                                                                <i
                                                                                                                                        class="de"></i>
                                                                                                                        </div>
                                                                                                                        <span
                                                                                                                                class="content lang-opt text-truncate">Deutsch</span>
                                                                                                                </a>
                                                                                                        </li>
                                                                                                        <li
                                                                                                                class="collection-item lang-list waves-effect avatar">
                                                                                                                <a data-lang="en"
                                                                                                                        href="#">
                                                                                                                        <div
                                                                                                                                class="flag circle">
                                                                                                                                <i
                                                                                                                                        class="en"></i>
                                                                                                                        </div>
                                                                                                                        <span
                                                                                                                                class="content lang-opt text-truncate">English</span>
                                                                                                                </a>
                                                                                                        </li>
                                                                                                        <li
                                                                                                                class="collection-item lang-list waves-effect avatar">
                                                                                                                <a data-lang="id"
                                                                                                                        href="#">
                                                                                                                        <div
                                                                                                                                class="flag circle">
                                                                                                                                <i
                                                                                                                                        class="id"></i>
                                                                                                                        </div>
                                                                                                                        <span
                                                                                                                                class="content lang-opt text-truncate">󠁥󠁮󠁧󠁿Bahasa
                                                                                                                                Indonesia</span>
                                                                                                                </a>
                                                                                                        </li>
                                                                                                        <li
                                                                                                                class="collection-item lang-list waves-effect avatar">
                                                                                                                <a data-lang="pt"
                                                                                                                        href="#">
                                                                                                                        <div
                                                                                                                                class="flag circle">
                                                                                                                                <i
                                                                                                                                        class=" "></i>
                                                                                                                        </div>
                                                                                                                        <span
                                                                                                                                class="content lang-opt text-truncate">󠁥󠁮󠁧󠁿Português</span>
                                                                                                                </a>
                                                                                                        </li>
                                                                                                        <li
                                                                                                                class="collection-item lang-list waves-effect avatar">
                                                                                                                <a data-lang="zh"
                                                                                                                        href="#">
                                                                                                                        <div
                                                                                                                                class="flag circle">
                                                                                                                                <i
                                                                                                                                        class="zh"></i>
                                                                                                                        </div>
                                                                                                                        <span
                                                                                                                                class="content lang-opt text-truncate">简体中文</span>
                                                                                                                </a>
                                                                                                        </li>
                                                                                                </ul>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                </nav>
                                                        </nav>
                                                        <div id="container_menu"></div>
                                                </div>
                                        </div>
                                </header><!-- #### END HEADER ####-->










