{% extends 'teacher/partial/base.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="css/select2.min.css">

<style>
    .new-added-form .form-group {
  position: relative;
  margin-bottom: 2.3rem;
}
.new-added-form .form-group:last-child {
  margin-bottom: 0;
}
.new-added-form .form-group label {
  margin-bottom: 12px;
  display: block;
}
.new-added-form .form-group .form-control {
  background-color: #f0f1f3;
  height: 50px;
}
.new-added-form .form-group i {
  position: absolute;
  top: 56px;
  right: 34px;
  font-size: 15px;
  color: #000;
}
.new-added-form .form-group .textarea {
  height: auto;
}
.new-added-form .form-group .form-control-file {
  display: inline-block;
  width: auto;
}
.new-added-form .form-group .form-control-file:focus {
  outline: none;
}
.new-added-form .form-group .btn-fill-lg {
  margin-right: 10px;
  margin-bottom: 10px;
}
.new-added-form .form-group .btn-fill-lg:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.select2-container .select2-selection--single {
  background-color: #f0f1f3;
  border-color: #f0f1f3;
  height: 50px;
}
.select2-container .select2-selection--single:focus {
  outline: none;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border: 1px solid #aaaaaa;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  color: #b4b4b4;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px;
  top: 0;
  right: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #000 transparent transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #000 transparent;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  outline: none;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #71bfe4;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #444;
  color: #fff;
}
.select2-results__option {
  font-size: 15px;
}
</style>
<div class="container">
    <div class="dashboard-content-one my-4">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>Add New Books</h3>

        </div>
        <!-- Breadcubs Area End Here -->
        <!-- Add New Book Area Start Here -->
        <div class="card height-auto my-5">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Add New Book</h3>
                    </div>

                </div>
                <form class="new-added-form">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Book Name *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Subject *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Writter Name *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Class *</label>
                            <select class="select2 form-control">
                                <option value="">Please Select Class *</option>
                                <option value="1">Play</option>
                                <option value="2">Nursery</option>
                                <option value="3">One</option>
                                <option value="3">Two</option>
                                <option value="3">Three</option>
                                <option value="3">Four</option>
                                <option value="3">Five</option>
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>ID No</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Publishing Date *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Uploade Date *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-md-3 d-none d-xl-block form-group">
                            <label>Choose File *</label>
                            <input type="file" placeholder="" class="form-control">
                        </div>
                        <div class="col-12 form-group mg-t-8">
                            <button type="submit"
                                class="btn btn-outline-primary">Save</button>
                            <button type="reset" class="btn btn-outline-secondary">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<script>
        $(".checkAll").on("click", function () {
      $(this).parents('.table').find('input:checkbox').prop('checked', this.checked);
    });

    /*-------------------------------------
          Tooltip init
      -------------------------------------*/
    $('[data-toggle="tooltip"]').tooltip();

    /*-------------------------------------
          Select 2 Init
      -------------------------------------*/
    if ($.fn.select2 !== undefined) {
      $('.select2').select2({
        width: '100%'
      });
    }
</script>

<script src="js/select2.min.js"></script>

    {% endblock %}