{% extends 'teacher/partial/base.html' %}
{% load static %}

{% block content %}




<div class="container-fluid page__heading-container">
    <div class="page__heading d-flex align-items-center justify-content-between">
        <h1 class="m-0">Edit Lesson</h1>
    </div>
</div>





<div class="container-fluid page__container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-form__body card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="category">Course:</label><br />
                                <select id="category" class="custom-select w-auto">
                                    <option value="usa">Basics of Angular</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="category">Chapter</label><br />
                                <select id="category" class="custom-select w-auto">
                                    <option value="usa">Chapter 1</option>
                                    <option value="usa">Chapter 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="category">Sections</label><br />
                                <select id="category" class="custom-select w-auto">
                                    <option value="usa">Section 1</option>
                                    <option value="usa">Section 2</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="fname">Title</label>
                        <input id="fname" type="text" class="form-control" placeholder="Title goes here"
                            value="Course title is editable here">
                    </div>

                    <div class="form-group">
                        <label for="desc">Description</label>
                        <textarea id="desc" rows="4" class="form-control"
                            placeholder="Please enter a description"></textarea>
                    </div>

                    <!-- <div class="form-group mb-0">
                            <label for="subscribe">Published</label><br>
                            <div class="custom-control custom-checkbox-toggle custom-control-inline mr-1">
                                <input checked="" type="checkbox" id="subscribe" class="custom-control-input">
                                <label class="custom-control-label" for="subscribe">Yes</label>
                            </div>
                            <label for="subscribe" class="mb-0">Yes</label>
                        </div> -->

                </div>
                <div class="card-body text-center">

                    <button type="submit" class="btn btn-success">Save Changes</button>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <!-- Lessons -->

                <div class="card-header card-header-large bg-light d-flex align-items-center">

                    <h4 class="card-header__title">Lesson Video</h4>
                </div>

                <div class="card-body">

                    <div class="embed-responsive embed-responsive-16by9 mb-3">
                        <iframe class="embed-responsive-item"
                            src="https://player.vimeo.com/video/97243285?title=0&amp;byline=0&amp;portrait=0"
                            allowfullscreen=""></iframe>
                    </div>
                    <!-- Lessons -->
                    <div class="form-group mb-3">
                        <div class="dz-clickable media align-items-center" data-toggle="dropzone"
                            data-dropzone-url="http://" data-dropzone-clickable=".dz-clickable"
                            data-dropzone-files='["assets/images/account-add-photo.svg"]'>
                            <div class="dz-preview dz-file-preview dz-clickable mr-3">
                                <div class="avatar avatar-lg">
                                    <img src="{% static 'teacher/images/account-add-photo.svg' %}"
                                        class="avatar-img rounded" alt="..." data-dz-thumbnail>
                                </div>
                            </div>
                            <div class="fallback">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFileUploadMultiple" multiple>
                                    <label class="custom-file-label" for="customFileUploadMultiple">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block">Update Video</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}