{% extends 'parent/partials/base.html' %}
{% load static %}
{% block content %}
<div class="ms-content-wrapper"> 
<div class="row">

    <div class="col-md-12">
        <h2 class="section-title">Catagories</h2>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ms-card">
          <div class="ms-card-img">
            <img src="{% static 'parent/img/profile/topper-3.jpg' %}" alt="card_img">
          </div>
          <div class="ms-card-body">
            <h6>This is a card Title</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc velit, dictum eget nulla a, sollicitudin rhoncus orci. Vivamus nec commodo turpis.</p>
            <a href="#" class="btn btn-primary btn-block">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ms-card">
          <div class="ms-card-img">
            <img src="{% static 'parent/img/profile/topper-3.jpg' %}" alt="card_img">
          </div>
          <div class="ms-card-body">
            <h6>This is a card Title</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc velit, dictum eget nulla a, sollicitudin rhoncus orci. Vivamus nec commodo turpis.</p>
            <a href="#" class="btn btn-primary btn-block">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ms-card">
          <div class="ms-card-img">
            <img src="{% static 'parent/img/profile/topper-3.jpg' %}" alt="card_img">
          </div>
          <div class="ms-card-body">
            <h6>This is a card Title</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc velit, dictum eget nulla a, sollicitudin rhoncus orci. Vivamus nec commodo turpis.</p>
            <a href="#" class="btn btn-primary btn-block">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ms-card">
          <div class="ms-card-img">
            <img src="{% static 'parent/img/profile/topper-3.jpg' %}" alt="card_img">
          </div>
          <div class="ms-card-body">
            <h6>This is a card Title</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc velit, dictum eget nulla a, sollicitudin rhoncus orci. Vivamus nec commodo turpis.</p>
            <a href="#" class="btn btn-primary btn-block">Learn More</a>
          </div>
        </div>
      </div>
</div>

</div>
{% endblock %}