{% extends 'parent/partials/base.html' %}
{% load static %}
{% block content %}

    
    <div class="m-md-5 m-lg-5">
        <div class="">
            <div class="ms-panel ms-panel-fh">
              <div class="ms-panel-body">
               
                <h2 class="section-title">Basic Information</h2>
                <table class="table ms-profile-information">
                  <tbody>
                    <tr>
                      <th scope="row">Full Name</th>
                      <td><input type="text"></td>
                    </tr>
                    <tr>
                      <th scope="row">Phone Number</th>
                      <td><input type="text"></td>
                    </tr>
                    <tr>
                        <th scope="row">Profile Photo</th>
                        <td><input type="file"></td>
                      </tr>
                    <tr>
                      <th scope="row">Email Address</th>
                      <td><input type="email"></td>
                    </tr>
                    <tr>
                      <th scope="row">Location</th>
                      <td><input type="email"></td>
                    </tr>
                    <tr>
                      <th scope="row">Password</th>
                      <td><input type="password"></td>
                    </tr>
                    <tr>
                      
                    </tr>
                    <tr>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    </div>

{% endblock %}