{% extends 'admin/base.html' %}
{% load static %}
{% block content %}



<div class="container-fluid">

    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class=" active"><a href="{% url 'admins:home' %}">Dashboard /</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)"> Add Courses </a></li>
        </ol>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ADD COURSE</h4>
                </div>
                <div class="card-body">
                    <div class="form-validation">
                        <form class="needs-validation" novalidate >
                            <div class="row">

                                <div class="col-xl-6">
                                    <div class="mb-3 row">
                                        <label class="col-lg-4 col-form-label" for="validationCourse01">Course Name
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="validationCourse01"  placeholder="Enter  coursename..." required>
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label class="col-lg-4 col-form-label" for="validationCourse01">About The Course <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="validationCourse01"  rows="5" placeholder="What would you like to see?" required></textarea>
                                            <div class="invalid-feedback">
                                                Please enter course details.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label class="col-lg-4 col-form-label" for="validationCourse01">Amount
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="validationCourse01" placeholder="$21.60" required>
                                            <div class="invalid-feedback">
                                                Please enter a Amount.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="mb-3 row">
                                        <label class="col-lg-4 col-form-label" for="validationCourse01">Course Code
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="validationCourse01"  placeholder="Enter  course..." required>
                                        </div>
                                    </div>
                                    
                                    <div class="mb-3 row">
                                        <label class="col-lg-4 col-form-label" for="validationCourse01">Objectives of the Course <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="validationCourse01"  rows="5" placeholder="What would you like to see?" required></textarea>
                                            <div class="invalid-feedback">
                                                Please enter course details.
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-lg-12 ms-auto text-center">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

    {% endblock %}