{% extends 'admin/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class=" active"><a href="{% url 'admins:home' %}">Dashboard /</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)"> Crash Course</a></li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xl-3">
            <!-- style="background-image: url({% static 'admin/images/bg-1.jpg' %});" -->
            <div class="card text-center" >
                <div class="card-header">
                    <h5 class="card-title">Card Title</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio repellat animi neque autem et rerum architecto vero accusantium aliquid modi.</p>
                    <a href="javascript:void(0);" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <p class="card-text text-dark">Last updateed 3 min ago</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3">
            <!-- style="background-image: url({% static 'admin/images/bg-1.jpg' %});" -->
            <div class="card text-center" >
                <div class="card-header">
                    <h5 class="card-title">Card Title</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio repellat animi neque autem et rerum architecto vero accusantium aliquid modi.</p>
                    <a href="javascript:void(0);" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <p class="card-text text-dark">Last updateed 3 min ago</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3">
            <!-- style="background-image: url({% static 'admin/images/bg-1.jpg' %});" -->
            <div class="card text-center" >
                <div class="card-header">
                    <h5 class="card-title">Card Title</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio repellat animi neque autem et rerum architecto vero accusantium aliquid modi.</p>
                    <a href="javascript:void(0);" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <p class="card-text text-dark">Last updateed 3 min ago</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3">
            <!-- style="background-image: url({% static 'admin/images/bg-1.jpg' %});" -->
            <div class="card text-center" >
                <div class="card-header">
                    <h5 class="card-title">Card Title</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio repellat animi neque autem et rerum architecto vero accusantium aliquid modi.</p>
                    <a href="javascript:void(0);" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <p class="card-text text-dark">Last updateed 3 min ago</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3">
            <!-- style="background-image: url({% static 'admin/images/bg-1.jpg' %});" -->
            <div class="card text-center" >
                <div class="card-header">
                    <h5 class="card-title">Card Title</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio repellat animi neque autem et rerum architecto vero accusantium aliquid modi.</p>
                    <a href="javascript:void(0);" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <p class="card-text text-dark">Last updateed 3 min ago</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3">
            <!-- style="background-image: url({% static 'admin/images/bg-1.jpg' %});" -->
            <div class="card text-center" >
                <div class="card-header">
                    <h5 class="card-title">Card Title</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio repellat animi neque autem et rerum architecto vero accusantium aliquid modi.</p>
                    <a href="javascript:void(0);" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <p class="card-text text-dark">Last updateed 3 min ago</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}