{% extends 'student/partials/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
<style>
      .accordion_one .panel-group {

border: 1px solid #f1f1f1;
margin-top: 100px;


}

a:link {
text-decoration: none
}

.accordion_one .panel {
background-color: transparent;
box-shadow: none;
border-bottom: 0px solid transparent;
border-radius: 0;
margin: 0;
}

.accordion_one .panel-default {
border: 0;
}

.accordion-wrap .panel-heading {
padding: 0px;
border-radius: 0px;
}

h4 {
font-size: 18px;
line-height: 24px;
}

.accordion_one .panel .panel-heading a.collapsed {
color: #999999;
display: block;
padding: 12px 30px;
border-top: 0px;
}

.accordion_one .panel .panel-heading a {
display: block;
padding: 12px 30px;
background: #fff;
color: #313131;
border-bottom: 1px solid #f1f1f1;
}

.accordion-wrap .panel .panel-heading a {
font-size: 14px;
}

.accordion_one .panel-group .panel-heading+.panel-collapse>.panel-body {
border-top: 0;
padding-top: 0;
padding: 25px 30px 30px 35px;
background: #fff;
color: #999999;
}

.img-accordion {
width: 81px;
float: left;
margin-right: 15px;
display: block;
}

.accordion_one .panel .panel-heading a.collapsed:after {
content: "\2b";
color: #999999;
background: #f1f1f1;
}

.accordion_one .panel .panel-heading a:after,
.accordion_one .panel .panel-heading a.collapsed:after {
font-family: 'FontAwesome';
font-size: 15px;
width: 36px;

line-height: 48px;
text-align: center;
background: #F1F1F1;
float: left;
margin-left: -31px;
margin-top: -12px;
margin-right: 15px;
}

.accordion_one .panel .panel-heading a:after {
content: "\2212";
}

.accordion_one .panel .panel-heading a:after,
.accordion_one .panel .panel-heading a.collapsed:after {
font-family: 'FontAwesome';
font-size: 15px;
width: 36px;
height: 48px;
line-height: 48px;
text-align: center;
background: #F1F1F1;
float: left;
margin-left: -31px;
margin-top: -12px;
margin-right: 15px;
}
</style>

<div class="container-fluid page__heading-container">
    <div
        class="page__heading d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
        <div>
            <h1 class="m-lg-0">Getting Started with this Course</h1>
            <div class="d-inline-flex align-items-center">
                <i class="material-icons icon-16pt mr-1 text-muted">access_time</i> 2 <small
                    class="text-muted ml-1 mr-1">hours</small>: 26 <small class="text-muted ml-1">min</small>
            </div>
        </div>

    </div>
</div>




<div class="container-fluid page__container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                        src="https://player.vimeo.com/video/97243285?title=0&amp;byline=0&amp;portrait=0"
                        allowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="media align-items-center">
                        <div class="media-left">
                            <img src="{% static 'student/images/256_luke-porter-261779-unsplash.jpg' %}"
                                alt="About Adrian" width="40" class="rounded-circle">
                        </div>
                        <div class="media-body">
                            <div class="card-title mb-0"><a href="student-profile.html" class="text-body"><strong>Adrian
                                        Demian</strong></a></div>
                            <p class="text-muted mb-0">Instructor</p>
                        </div>
                        <div class="media-right">
                            <a href="#" class="btn btn-whatsapp btn-sm"><i class="fab fa-whatsapp"></i></a>
                            <!-- <a href="#" class="btn btn-twitter btn-sm"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-light btn-sm"><i class="fab fa-github"></i></a> -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    Having over 12 years exp. Adrian is one of the lead UI designers in the industry Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit. Facere, aut.
                </div>
            </div>

            <div class="card">
                <div class="card-header card-header-large bg-light d-flex align-items-center">
                    <div class="flex">
                        <h4 class="card-header__title">Course Description</h4>
                    </div>
                </div>
                <div class="card-body">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta eius enim inventoreus optio
                        ratione veritatis. Beatae deserunt illum ipsam magniima mollitia officiis quia tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta eius enim inventoreus optio
                        ratione veritatis. Beatae deserunt illum ipsam magniima mollitia officiis quia tempora!</p>
                </div>
            </div>

        </div>


        <div class="col-md-4">


            <!-- Lessons -->
            

                <div class="ist-group list-group-fit accordion_one">
                    <div class="panel-group" id="accordionFourLeft">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion_oneLeft" href="#collapseFiveLeftone"
                                        aria-expanded="false" class="collapsed">
                                       module  1st
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFiveLeftone" class="panel-collapse collapse" aria-expanded="false" role="tablist"
                                style="height: 0px;">
                                <div class="panel-body">
                                    <ul class="list-group list-group-fit">
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <div class="text-muted">1.</div>
                                                </div>
                                                <div class="media-body">
                                                    <a href="#">Overview</a>
                                                </div>
                                                <div class="media-right">
                                                    <small class="text-muted">3:33</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item active">
                                            <div class="media">
                                                <div class="media-left">2.</div>
                                                <div class="media-body">
                                                    <a class="text-white" href="#">Asset Pipeline</a>
                                                </div>
                                                <div class="media-right">
                                                    <small>18:43</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <div class="text-muted">3.</div>
                                                </div>
                                                <div class="media-body">
                                                    <a href="#">Getting Started</a>
                                                    <small class="badge badge-soft-success ">FREE</small>
                                                </div>
                                                <div class="media-right">
                                                    <small class="text-muted">5:21</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <div class="text-muted">4.</div>
                                                </div>
                                                <div class="media-body">
                                                    <a href="#">Advanced Workflows</a>
                                                    <small class="badge badge-soft-warning ">PRO</small>
                                                </div>
                                                <div class="media-right">
                                                    <small class="text-muted">5:24</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <div class="text-muted">5.</div>
                                                </div>
                                                <div class="media-body">
                                                    <a href="#">Tips & Tricks</a>
                                                    <small class="badge badge-soft-warning ">PRO</small>
                                                </div>
                                                <div class="media-right">
                                                    <small class="text-muted">11:38</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <div class="text-muted">6.</div>
                                                </div>
                                                <div class="media-body">
                                                    <a href="#">Final Quiz</a>
                                                </div>
                                                <div class="media-right">
                                                    <small class="badge badge-soft-primary ">QUIZ</small>
                                                </div>
                                            </div>
                                        </li>
                                    </ul> 
                                </div>
                                <!-- end of panel-body -->
                            </div>
                        </div>
                        <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion_oneLeft"
                                        href="#collapseFiveLeftTwo" aria-expanded="false">
                                        Why Font Awesome used and its benefits
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFiveLeftTwo" class="panel-collapse collapse" aria-expanded="false" role="tablist"
                                style="height: 0px;">
                                <div class="panel-body">
                                    <div class="img-accordion">
                                        <img src="https://img.icons8.com/color/81/000000/person-female.png" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p>
                                            Why Font Awesome usedWhy Font Awesome usedWhy Font Awesome usedWhy Font Awesome usedWhy
                                            Font Awesome usedWhy Font Awesome usedWhy Font Awesome usedWhy Font Awesome usedWhy Font
                                            Awesome used
                                        </p>
                                    </div>
                                </div>
                                <!-- end of panel-body -->
                            </div>
                        </div>
                        <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion_oneLeft"
                                        href="#collapseFiveLeftThree" aria-expanded="false">
                                        Why Font Awesome used for its own
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFiveLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion">
                                        <img src="https://img.icons8.com/color/81/000000/person-female.png" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p>
                                            Why Font Awesome used for its own Why Font Awesome used for its own Why Font Awesome
                                            used for its own Why Font Awesome used for its own Why Font Awesome used for its own Why
                                            Font Awesome used for its own Why Font Awesome used for its own
                                        </p>
                                    </div>
                                </div>
                                <!-- end of panel-body -->
                            </div>
                        </div>
                        <!-- /.panel-default -->
                    </div>
                    <!--end of /.panel-group-->
                </div>


                <!-- <ul class="list-group list-group-fit">
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">1.</div>
                            </div>
                            <div class="media-body">
                                <a href="#">Overview</a>
                            </div>
                            <div class="media-right">
                                <small class="text-muted">3:33</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item active">
                        <div class="media">
                            <div class="media-left">2.</div>
                            <div class="media-body">
                                <a class="text-white" href="#">Asset Pipeline</a>
                            </div>
                            <div class="media-right">
                                <small>18:43</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">3.</div>
                            </div>
                            <div class="media-body">
                                <a href="#">Getting Started</a>
                                <small class="badge badge-soft-success ">FREE</small>
                            </div>
                            <div class="media-right">
                                <small class="text-muted">5:21</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">4.</div>
                            </div>
                            <div class="media-body">
                                <a href="#">Advanced Workflows</a>
                                <small class="badge badge-soft-warning ">PRO</small>
                            </div>
                            <div class="media-right">
                                <small class="text-muted">5:24</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">5.</div>
                            </div>
                            <div class="media-body">
                                <a href="#">Tips & Tricks</a>
                                <small class="badge badge-soft-warning ">PRO</small>
                            </div>
                            <div class="media-right">
                                <small class="text-muted">11:38</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">6.</div>
                            </div>
                            <div class="media-body">
                                <a href="#">Final Quiz</a>
                            </div>
                            <div class="media-right">
                                <small class="badge badge-soft-primary ">QUIZ</small>
                            </div>
                        </div>
                    </li>
                </ul> -->
            



        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
{% endblock %}