{% extends 'student/partials/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid page__heading-container">
    <div class="page__heading d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
        <div>
            <h1 class="m-lg-0">Getting Started with this Course</h1>
            <div class="d-inline-flex align-items-center">
                <i class="material-icons icon-16pt mr-1 text-muted">access_time</i> 2 <small class="text-muted ml-1 mr-1">hours</small>: 26 <small class="text-muted ml-1">min</small>
            </div>
        </div>
        <div>
            <a href="#" class="btn btn-success">
                Purchase:
                <strong>$49</strong>
            </a>
        </div>
    </div>
</div>





<div class="container-fluid page__container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/97243285?title=0&amp;byline=0&amp;portrait=0" allowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="media align-items-center">
                        <div class="media-left">
                            <img src="{% static 'student/images/256_luke-porter-261779-unsplash.jpg' %}" alt="About Adrian" width="40" class="rounded-circle">
                        </div>
                        <div class="media-body">
                            <div class="card-title mb-0"><a href="student-profile.html" class="text-body"><strong>Adrian Demian</strong></a></div>
                            <p class="text-muted mb-0">Instructor</p>
                        </div>
                        <div class="media-right">
                            <a href="#" class="btn btn-facebook btn-sm"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="btn btn-twitter btn-sm"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-light btn-sm"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    Having over 12 years exp. Adrian is one of the lead UI designers in the industry Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, aut.
                </div>
            </div>

            <div class="card">
                <div class="card-header card-header-large bg-light d-flex align-items-center">
                    <div class="flex">
                        <h4 class="card-header__title">Course Description</h4>
                    </div>
                </div>
                <div class="card-body">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta eius enim inventoreus optio ratione veritatis. Beatae deserunt illum ipsam magniima mollitia officiis quia tempora!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta eius enim inventoreus optio ratione veritatis. Beatae deserunt illum ipsam magniima mollitia officiis quia tempora!</p>
                </div>
            </div>

        </div>


        
    </div>
</div>

{% endblock %}